repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
      - id: pretty-format-json
        args: ["--autofix"]
        exclude: ".devcontainer/devcontainer.json"
      - id: requirements-txt-fixer
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
        files: ".*\\.(?:tex|py)$"
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Nightly Fmt
        entry: cargo +nightly fmt -- --check --color always
        language: system
        types: [rust]
        files: \.rs$
      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy --color always --all-features --all-targets -- -D warnings
        language: system
        types: [rust]
        files: \.rs$
