name: dep-lint

on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - "Cargo.toml"
      - "Cargo.lock"

# see https://matklad.github.io/2021/09/04/fast-rust-builds.html
env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CI: 1
  RUST_BACKTRACE: short
  RUSTFLAGS: "-W rust-2021-compatibility"
  RUSTUP_MAX_RETRIES: 10

jobs:
  cargo-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - name: Install tooling
        run: |
          cargo +nightly install --locked cargo-udeps
          cargo +nightly install --locked cargo-autoinherit
      - uses: Swatinem/rust-cache@v2
      - name: Show Cargo and rustc version
        run: |
          cargo +nightly --version
          rustc --version
      - name: Check for non-inherited dependencies
        # Cargo autoinherit does not have a --check, so we have to use git to see if there are any changes
        # to know if it failed
        run: |
          cargo +nightly autoinherit
          git diff --exit-code

      - name: Check for unused dependencies
        run: cargo +nightly udeps --all-targets --all-features
